In [245]:
#Importando Bibliotecas
import pandas as pd
from datetime import timedelta
import scipy.stats as stats

In [246]:
#Importando as Bases
df_full = pd.read_csv('5.SERV_FALEC_EXON.csv', sep=';', encoding='UTF-8').assign(IDADE = '')

df_full['DT_NASC_SERVIDOR'] = pd.to_datetime(df_full['DT_NASC_SERVIDOR'], yearfirst=True, format='%d/%m/%Y')
df_full['DT_BASE'] = '31/12/2020'
df_full['DT_BASE'] = pd.to_datetime(df_full.DT_BASE, yearfirst=True, format='%d/%m/%Y')
df_full['IDADE'] = round((df_full.DT_BASE - df_full.DT_NASC_SERVIDOR) / timedelta(days=365.25) - 0.5).astype(int)

In [247]:
#Importando as Tábuas
df_tabuas = pd.read_excel('Funções Biométricas (Com Fórmulas).xlsx', sheet_name='qx')
df_tabuas.head()

,ALLG-72,AMERICAN EXPERIENCE,AT2000 (Suavizada 10%)_FEM,AT2000 (Suavizada 10%)_MAS,AT-2000 FEMALE,AT-2000 MALE,AT-49 FEMALE,AT-49 MALE,AT-50,AT-55,...,RRB-1944 Mod - Masc,TASA-1927,WYATT 1985,ZIMMERMANN EMPR. ESCRIT,Atuários Ingleses,Hubbard Laffitte,J.P. Jansen,Kinkelin,Moser,Samuel Dumas
0,1.3,0.15470,0.001615,0.002080,0.001794,0.002311,0.003210,0.004040,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.3,0.06349,0.000680,0.000815,0.000755,0.000906,0.001360,0.001580,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.3,0.03550,0.000353,0.000454,0.000392,0.000504,0.000703,0.000887,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.3,0.02391,0.000261,0.000367,0.000290,0.000408,0.000521,0.000715,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.3,0.01770,0.000209,0.000321,0.000232,0.000357,0.000419,0.000627,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [248]:
ary_expostos = []
ary_esperados = []
for l in range(126+1):
    linha = []
    linha2 = []
    #Criando uma matriz com a quantidade de registros de cada IDADE
    for c in range(1):
        qtda = len(df_full[df_full['IDADE'] == l]) #Quantidade de eventos ocorridos em cada idade
        linha.append(qtda)
    ary_expostos.append(linha)

    #Criando uma matriz com o número de MORTES esperadas por idade e o X² calculado
    for c2 in range(107):
        esperado = ary_expostos[l][0] * df_tabuas.iloc[l, c2] #Expostos * qx da tábua
        linha2.append(esperado)
    ary_esperados.append(linha2)

df_expostos = pd.DataFrame(data=ary_expostos)
df_esperados = pd.DataFrame(data=ary_esperados, columns=df_tabuas.columns.values)
df_esperados.loc['Total'] = df_esperados.sum(axis=0)
df_esperados

,ALLG-72,AMERICAN EXPERIENCE,AT2000 (Suavizada 10%)_FEM,AT2000 (Suavizada 10%)_MAS,AT-2000 FEMALE,AT-2000 MALE,AT-49 FEMALE,AT-49 MALE,AT-50,AT-55,...,RRB-1944 Mod - Masc,TASA-1927,WYATT 1985,ZIMMERMANN EMPR. ESCRIT,Atuários Ingleses,Hubbard Laffitte,J.P. Jansen,Kinkelin,Moser,Samuel Dumas
0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
1,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
2,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
3,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
4,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
124,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
125,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
126,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.00000,0.00000,0.00,0.0,0.0,0.00,0.00,0.00
Total,1017.9,12.63449,1.445111,2.440868,1.610186,2.717442,2.882437,5.322543,5.452479,4.403499,...,3.65142,19.79008,25.15815,14.62985,6149833.28,4946443.9,6623.2,6746.94,7343.05,9308.15

In [249]:
#Cálculo do X²
ary_qui_quadrado = []
qtda_dif_zero = 0
for l3 in range(127):
    linha3 = []
    for c3 in range(107):
        if df_esperados.iloc[l3, c3] == 0.0:
            qui_quadrado = 0
            linha3.append(qui_quadrado)
        elif df_esperados.iloc[l3, c3] != 0.0:
            qui_quadrado = (ary_expostos[l3][0] - df_esperados.iloc[l3, c3])**2/df_esperados.iloc[l3, c3]
            linha3.append(qui_quadrado)
    ary_qui_quadrado.append(linha3)

df_qui_quadrado = pd.DataFrame(data=ary_qui_quadrado, columns=df_tabuas.columns.values)
df_qui_quadrado.loc['qui_quadrado'] = round(df_qui_quadrado.sum(axis=0), 2)
df_qui_quadrado.loc['p_value'] = 1-stats.chi2.cdf(x=df_qui_quadrado.loc['qui_quadrado'], df = int(df_expostos[df_expostos != 0].count() - 1))

qui_quadrado_tabu = stats.chi2.ppf(q = 0.95, df = int(df_expostos[df_expostos != 0].count() - 1))

df_qui_quadrado

,ALLG-72,AMERICAN EXPERIENCE,AT2000 (Suavizada 10%)_FEM,AT2000 (Suavizada 10%)_MAS,AT-2000 FEMALE,AT-2000 MALE,AT-49 FEMALE,AT-49 MALE,AT-50,AT-55,...,RRB-1944 Mod - Masc,TASA-1927,WYATT 1985,ZIMMERMANN EMPR. ESCRIT,Atuários Ingleses,Hubbard Laffitte,J.P. Jansen,Kinkelin,Moser,Samuel Dumas
0,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
125,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
126,0.000000,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
qui_quadrado,54.210000,66848.56,1169660.67,705222.48,1049534.17,630966.8,626086.27,407622.93,407479.1,459330.76,...,417981.12,765763.79,612307.12,447394.65,6148293.35,4944895.16,5183.02,5287.92,5878.99,7815.61
p_value,0.428054,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [250]:
import numpy as np
import pandas as pd
import scipy.stats as stats

'''ary = np.array([[6,1], [1.409100,1.523520]])
chi2_contingency(ary)

print(chi2_contingency(ary))

#15,137217'''

qui_quadrado_tabu = stats.chi2.ppf(q = 0.95, df = int(df_expostos[df_expostos != 0].count() - 1))
#p_valor = 1-stats.chi2.cdf(x=18.194805, df=4)
p_valor = round(1-stats.chi2.cdf(x=39.29, df= 19), 6)

print('Critical Value')
print(qui_quadrado_tabu)
print(p_valor)

Critical Value
70.99345283378227
0.004051

In [251]:
df_expostos[df_expostos != 0].count()-1

0    53
dtype: int64